html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    font-family: Verdana, Helvetica, sans-serif;
  }

#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.menu {
    width: 20em;
    border-radius: 6px;
    position: absolute;
    max-height: 100%;
    overflow: hidden;
    top: 10em;
    left: 0px;
    background-color: white;
    }

.search {
  padding-top: 1em;
  padding-left: 0.5em;
}

.list {
  padding-left: 0.5em;
  list-style: none;
}

.heading {
    width: 100%;
    margin-right: 40%;
    height: 4em;
    text-align: center;
    font-size: 0.750em;
    background-color: white;
    position: absolute;
    max-height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    padding-bottom: 25px;
    background-color: white;
    }

#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}

#iw-container img {
  padding-left: 5%;
  padding-bottom: 5%;
}
