html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: Verdana, Helvetica, sans-serif;
  overflow-y: scroll; }

#map {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.heading {
  height: 15rem;
  position: absolute;
  overflow: hidden;
  top: -1.25rem;
  z-index: 3; }

.heading-img {
  margin-left: 5%;
  width: 16rem; }

.nav {
  top: 0;
  bottom: 0;
  left: 0;
  width: 18rem;
  position: fixed;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 13rem;
  background-color: #48b5e9;
  z-index: 2;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.5);
  transition: 0.5s; }

.menu {
  overflow: auto; }

.search {
  padding: 1rem 0rem 0rem 1rem; }

.input {
  background: #fefefe;
  border: 2px solid #fff;
  height: 3rem;
  margin-left: -1rem;
  padding-left: 0.55rem;
  width: 18rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.name {
  padding: 1rem 0rem 1rem 0.5rem;
  font-size: 1.15rem;
  color: #fff;
  line-height: 1.75rem; }

.name:hover {
  color: #48b5e9;
  background-color: #fff; }

.iw-container {
  width: auto; }

.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 1.825rem;
  font-weight: 600;
  margin: 0 2.5%;
  padding: 1rem 0 1rem 0;
  width: 300px;
  background-color: #48b5e9;
  color: #fff; }

.iw-container img {
  margin: 0 auto;
  padding-left: 2.5%; }

@media only screen and (max-width: 970px) {
  .nav {
    display: none;
    width: 15rem; }
  .heading {
    top: -1rem;
    margin-left: -10%;
    width: 100%;
    height: 14rem; }
  .search {
    padding: 1rem 0rem 0rem 1rem;
    margin: 0; }
  .input {
    width: 15rem; }
  .name {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 1rem;
    color: #fff;
    line-height: 2rem; }
  .nav-btn {
    position: fixed;
    bottom: 2.825%;
    right: 10%;
    z-index: 4; }
  .toggle-btn {
    color: #fff;
    height: 6rem;
    width: 6rem;
    background-color: #48b5e9;
    border: none;
    border-radius: 100%;
    box-shadow: 0.125rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .btn-img {
    width: 75%; } }
