html, body {
  height: 100%;
  margin: 0;
  width: 100%;
  font-family: Verdana, Helvetica, sans-serif; }

#map {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.heading {
  padding-left: 0.25em;
  height: 15em;
  position: absolute;
  overflow: hidden;
  top: -2.25em;
  z-index: 3; }

.heading-img {
  width: 18em; }

.nav {
  width: 18.825rem;
  position: fixed;
  height: 100%;
  overflow-x: hidden;
  top: 0em;
  left: 0em;
  padding-top: 13em;
  background-color: #48b5e9;
  z-index: 2;
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.5);
  transition: 0.5s; }

.search {
  padding-top: 1em;
  padding-left: 1em; }

.input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fefefe;
  border: 2px solid #fff;
  height: 1.5em;
  padding: 0 0.5rem;
  width: 90%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem; }

.list {
  padding-left: 1.125em;
  list-style: none; }

.name {
  font-size: 1.15em;
  color: #fff;
  line-height: 2em; }

.name:hover {
  color: #d8d8d8;
  text-decoration: underline; }

.iw-container {
  width: auto; }

.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 1.825em;
  font-weight: 600;
  margin: 0 2.5%;
  padding: 1em 0 1em 0;
  width: 300px;
  background-color: #48b5e9;
  color: #fff; }

.iw-container img {
  margin: 0 auto;
  padding-left: 2.5%; }

@media only screen and (max-width: 970px) {
  .nav {
    display: none; }
  .nav-btn {
    position: fixed;
    bottom: 5%;
    right: 10%;
    z-index: 4; }
  .toggle-btn {
    color: #fff;
    height: 8rem;
    width: 8rem;
    background-color: #48b5e9;
    border: none;
    border-radius: 100%;
    box-shadow: 0.125rem 0.125rem 0.5rem 0rem rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .btn-img {
    width: 80%; } }
